@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
    min-height: 100vh;
    
    background-image: url('./assets/image-1.png');
    background-repeat: no-repeat;
    background-attachment: local;
    background-position-x: calc(100vw - 85vh - 48px);
    background-position-y: 48px;
    background-size: 85vh;
    
    @apply bg-yellow-400 text-gray-800;

    /* background-origin:  */
}
